<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">

    <section>
        <label for="name"> {{authEnum.NAME}}</label>
        <input type="name" id="name" formControlName="name">
        <div>
            <span *ngIf="signinForm.get('name')?.hasError('required')">{{authEnum.ERRORNAMEREQUIRED}}</span>
            <span *ngIf="signinForm.get('name')?.hasError('pattern')">{{authEnum.ERRORINVALIDNAME}}</span>
        </div>
    </section>
    <br>
    <section>
        <label for="email"> {{authEnum.EMAIL}}</label>
        <input type="email" id="email" formControlName="email">
        <div>
            <span *ngIf="signinForm.get('email')?.hasError('required')">{{authEnum.ERRORMAILREQUIRED}}</span>
            <span *ngIf="signinForm.get('email')?.hasError('email')">{{authEnum.ERROREMAILFORMAT}}</span>
        </div>
    </section>
    <br>
    <section>
        <label for="password"> {{authEnum.PASSWORD}}</label>
        <input type="password" id="password" formControlName="password">
        <div>
            <span *ngIf="signinForm.get('password')?.hasError('required')"> {{authEnum.ERRORPASSWORDREQUIRED}}</span>
            <span *ngIf="signinForm.get('password')?.hasError('minlength')"> {{authEnum.ERRORPASSWORDLENGTH}}</span>
        </div>
    </section>

    <section>
        <label for="confirmPassword"> {{authEnum.CONFIRMATIONPASSWORD}}</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword">
        <div>
            <span *ngIf="signinForm.get('confirmPassword')?.hasError('required')"> {{authEnum.ERRORPASSWORDREQUIRED}}</span>
            <span *ngIf="signinForm?.hasError('passwordMismatch')"> {{authEnum.CONFIRMATIONERROR}}</span>
        </div>
    </section>

    <button type="submit">
        {{authEnum.SUBMIT}}
    </button>
</form>


<button (click)="navigateLogin()">
    login
</button>